/* обнуляющие стили для браузеров

/* убрать все дефолтные отступы и границы */
* {
    padding: 0;
    border: 0;
    margin: 0;
}

/* определить width и height как суммы 
размеров содержания, padding'ов и border'ов соответственно */
*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* убрать линии обводки */
:focus,
:active {
    outline: none;
}

/* уравнять поведение экрана, шрифтов и элементов для разных браузеров; font-size: 100%; -> font-size: 14px; - непонятно  */ 
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


/* сделать у форм и кнопок шрифты и размер шрифтов унаследованными от родителей */
input, button, textarea {
    font-family: inherit;
    font-size: inherit;
}

/* убрать кнопку очистки текста в форме в IE */
input::-ms-clear {
    display: none;
}

/* при наведении на кнопку сделать курсор соответствующим ссылке  */
button {
    cursor: pointer;
}

/* убрать показатель внутреннего фокуса у кнопок в Firefox */
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

