// Отступы
$vertical-indent: 30px;
$horizontal-indent: 30px;

// Цвета
$black: #202529;
$grey: #d8d8d8;
$white: #ffffff;
$yellow: #ffbe1b;
$yellow-shadow: rgba(255, 193, 7, 0.5);
$green: #00a94c;
$green-shadow: rgba(24, 153, 93, 0.5);
$cyan: #00a5b8;
$cyan-shadow: rgba(9, 145, 172, 0.5);

// Шрифты
$base-text-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$alternative-text-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;